body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #0f5c4d;
}

header {
    background-color: #0a2f6b; /* Azul fuerte */
    text-align: center;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}

.header-link {
    text-decoration: none;
    color: white;
    display: block;
}

.header-link:hover {
    opacity: 0.8;
}


video, canvas {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 20px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* SECCIÓN CÁMARA */
.camara-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* Video estilo neón */
#video {
    width: 100%;
    max-width: 400px;
    border-radius: 25px;
    border: 3px solid #00ff88;
    box-shadow: 0 0 20px #00ff88;
}

/* Canvas (foto final) */
#canvas {
    width: 100%;
    max-width: 400px;
    border-radius: 25px;
    border: 3px solid #00ff88;
    box-shadow: 0 0 20px #00ff88;
    margin-top: 20px;
}

/* Botones estilo tarjeta */
.boton-camara {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #0f5c4d;
    border: 2px solid #00ff88;
    border-radius: 25px;
    color: #00ff88;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-camara:hover {
    background-color: #063d33;
    box-shadow: 0 0 20px #00ff88;
    transform: scale(1.05);
}
