* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 2fr; /* 1/3 y 2/3 */
    grid-template-rows: 80px 1fr 60px;
     background: linear-gradient(135deg, #002868, #e1cdcc, #FF0000);
     color: #FFFFFF;    
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     line-height: 1.6; 
}

article h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

article p {
    font-size: 1rem;
    margin-bottom: 10px;
}

header {
    grid-area: header;
   background-color: #002868;
  color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link {
    text-decoration: none;
    color: white;
    display: block;
}

.header-link:hover {
    opacity: 0.8;
}

aside {
    grid-area: aside;
  /*  background-color: #32cd32;*/
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 15px;
}
aside img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

main {
    grid-area: main;
 /*   background-color: #f7fff7; */
    display: grid;

    grid-template-areas:
        "article article"
        "section1 section2";

    grid-template-columns: 1fr 1fr;  /*ancho */
    grid-template-rows: 1fr 120px;   /*altura*/

    gap: 10px;
    padding: 10px;
    margin-right: 30px;
}

article {
    grid-area: article;
  /*  background-color: #ffe66d;*/
    padding: 10px;
}


footer {
    grid-area: footer;
    background-color: #2b2d42; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


h2, p {
    color:rgb(255, 255, 255);
}

section:last-of-type button {
    width: 100%;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

section:last-of-type {
    padding: 0;
}

section:last-of-type button {
    width: 100%;
    height: 100%;
    border-radius: 20px;/* 12 */
    color:white;
/*background-color: #084618;*/
    background-color: #115e31;
} 

/*estilo general*/
aside,
article,
section {
  background-color: rgba(255, 255, 255, 0.1);/*quitar si se quiere sin fondo los contenedores*/
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  /* border: 1px solid #43af39;
    border-radius: 20px;*//* 12 */
 /*   padding: 10px;*/
}

/* RESPONSIVE PARA CELULAR */
@media (max-width: 600px) {

    body {
        grid-template-areas: 
            "header"
            "aside"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }

    main {
        grid-template-areas:
            "article"
            "section1"
            "section2";

        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    aside {
        margin: 10px;
    }

    main {
        margin: 10px;
    }

    article h3 {
        font-size: 1.5rem;
    }

    article p {
        font-size: 1rem;
    }

}